*{
    margin: 0;
    font-family: "Inter", sans-serif;
}
header{
    width: 100%;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: fixed;
    z-index: 999;
}
#dark-mode{
    position: absolute;
    left: 30px;
    top: 30px;
    background-color: #FFE599;
    border-radius: 20px;
}
nav ul{
    list-style: none;
    padding: 0;
    display: flex;
}
nav li{
    padding-left: 80px;
}
nav a{
    color: #FFE599;
    text-decoration: none;
    font-size: 1.5em;
    font-weight: 800;
}
nav hr{
    background-color: #FFE599;
    height: 3px;
    width: 1%;
    visibility: hidden;
    transition: 0.5s;
    border: none;
}
nav a:hover hr{
    visibility: visible;
    width: 100%;
}
#hide{
    display: none;
    width: 60px;
    fill: #FFE599;
    background: none;
    border: none;
}
#apresentacao{
    padding-top: 20%;
    padding-left: 20%;
    height: 60vh;
}
main h1{
    color: #FFE599;
    line-height: 1.3;
    font-size: 3em;
    font-weight: 600;
}
#elementEl::after{
    content: '|';
    margin-left: 5px;
    animation: blink 0.7s infinite;
    z-index: 1;
}
@keyframes blink{
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}
.Desenvolvedor{
    color: #FFFFFF;
    font-weight: 300;
}
.contato{
    margin-top: 50px;
}
.contato button{
    border-radius: 50px;
    border: solid 1px #FFE599;
    background: none;
    color: #FFFFFF;
    cursor: pointer;
    padding: 3px 15px;
    font-size: 1.1em;
    font-weight: 300;
    transition: 0.5s;
}
.contato button:hover{
    background-color: #FFE599;
    color: #312E2E;
    font-weight: 400;
}
.email{
    color: #FFE599;
    margin-left: 20px;
    font-size: 1.1em;
    text-decoration: underline;
}
#habilidades, #projetos, #contato{
    display: flex;
    flex-direction: column;
}
#habilidades{
    height: 90vh;
}
#habilidades h2, #projetos h2, #contato h2{
    color: #FFE599;
    font-size: 2.3rem;
    align-self: center;
}
.direcionamento{
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: space-around;
    margin-top: 7px;
}
#home{
    fill: white;
    width: 30px;
}
.inicio{
    color: white;
    margin-left: 15px;
    font-size: 1.3rem;
    text-decoration: none;
}
#seta{
    fill: #FFE599;
    width: 17px;
    margin-left: 15px;
}
.pagina{
    color: #FFE599;
    margin-left: 15px;
    font-size: 1.3rem;
}
.gridskills{
    display: grid;
    grid-template-columns: 10% 25% 30%;
    grid-template-rows: 400px;
    margin-top: 120px;
    gap: 200px;
}
.hardskills, .softskills{
    position:relative;
    border-bottom:10px solid #FFE599; 
    border-right:10px solid #FFE599;
    display:inline-block;
    padding-left: 27px;
    padding-right: 4%;
    padding-top: 4%;
}
.hardskills::after, .hardskills::before, .softskills::after, .softskills::before{
    content:"";
    position:absolute;
}
.hardskills::after, .softskills::after{
    top:0;
    left:0;
    border-left:10px solid #FFE599;
    height: 30%;
}
.hardskills::before, .softskills::before{
    top:0;
    left:0;
    border-top: 10px solid #FFE599;
    width:30%;
}
.hardskills{
    grid-column: 2;
}
.gridskills p{
    color: white;
    line-height: 1.5;
    font-size: 1.1rem;
    text-align: justify;
}
.svg{
    display: flex;
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.svg svg{
    fill: white;
    height: 120px;
    margin-left: 20px;
    transition: 0.5s;
    cursor: pointer;
}
.svg svg:hover{
    transform: scale(1.5);
}
#projetos{
    padding-bottom: 10vh;
}
.gridProjetos{
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: 100%;
    margin-top: 120px;
    gap: 100px;
}
.display-flex, .display-grid, .delivery{
    padding: 0px 100px 0px 100px;
    position: relative;
}
.descricao{
    border: solid 3px #000;
    width: 600px;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(255, 229, 153, 80%);
    border-radius: 37px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.descricao p{
    width: 250px;
    text-align: center;
}
.display-grid{
    display: flex;
    justify-content: right;
}
.gridcontact{
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 600px;
    gap: 50px;
    margin: 120px 4% 0px 10%;
}
.formulario{
    grid-column: 1;
    position: relative;
}
.redescontato{
    grid-column: 2;
}
.name-mail{
    display: flex;
}
#name, #email{
    color: #FFE599;
    background: none;
    border: none;
    border-bottom: solid 1px #FFE599;
    outline: none;
    padding-bottom: 10px;
    font-size: 1.3rem;
    font-weight: 600;
    width: 350px;
}
#name::placeholder, #email::placeholder, #mensagem::placeholder{
    color: #FFE599;
    font-weight: 800;
}
#email{
    margin-left: 30px;
}
#mensagem{
    color: #FFE599;
    background: none;
    border: none;
    border-bottom: solid 1px #FFE599;
    outline: none;
    padding-bottom: 10px;
    font-size: 1.3rem;
    font-weight: 600;
    margin-top: 50px;
    resize: none;
    width: 730px;
    height: 300px;
}
#enviar{
    background: none;
    border: solid 1px #FFE599;
    color: #FFE599;
    font-weight: 800;
    border-radius: 20px;
    padding: 10px 12px;
    cursor: pointer;
    position: absolute;
    top: 450px;
    left: 0;
    font-size: 1.1rem;
}
.redescontato h3, .redescontato h4{ 
    color: #FFE599;
    font-weight: 800;
    font-size: 1.3rem;
}
.redescontato h4{
    margin-top: 50px;
}
.redescontato p{
    color: #FFFFFF;
    margin-top: 20px;   
}
.redescontato div{
    display: flex;
    margin-top: 20px;
    align-items: center;
    gap: 10px;
}
.redescontato a{
    color: #FFFFFF;
}
.redescontato svg{
    fill: white;
    width: 20px;
}
footer{
    width: 100%;
    height: 15vh;
    display: flex;
    align-items: center;
    position: relative;
}
footer img{
    position: absolute;
    left: 19%;
}
footer div{
    display: flex;
    justify-content: space-around;
    width: 7%;
    position: absolute;
    right: 19%;
}
footer svg{
    height: 25px;
    fill: #FFE599;
}
@media (max-width: 900px){
    *{
        box-sizing: border-box;
    }
    body{
        background-color: #312E2E;
    }
    #container{
        display: none;
        position: absolute;
        top: 85px;
        right: 45px;
        background-color: #252020;
    }
    nav ul{
        flex-direction: column;
    }
    nav li{
        padding: 20px;
    }
    #hide{
        display: block;
    }
    header{
        justify-content: space-around;
        height: 11vh;
    }
    header img{
        width: 70px;
    }
    #apresentacao{
        padding-top: 150px;
        padding-left: 100px;
    }
    main h1{
        font-size: 1.4em;
    }
    .contato button{
        font-size: 0.8em;
    }
    .email{
        font-size: 0.8em;
    }
    #dark-mode{
        font-size: 0.8em;
        left: 15px;
        top: 10px;
        height: 60px;
        width: 60px;
    }
    #habilidades h2, #projetos h2, #contato h2{
        font-size: 1.3em;
    }
    #home{
        width: 15px;
    }
    .inicio{
        margin-left: 7px;
        font-size: 1.3em;
    }
    #seta{
        height: 15px;
        margin-left: 15px;
    }
    .pagina{
        margin-left: 7px;
        font-size: 1.3em;
    }
    .gridskills, .gridProjetos, .gridcontact{
        display: flex;
        flex-direction: column;
    }
    .gridskills{
        gap: 80px;
    }
    .hardskills , .softskills{
        height: 35vh;
        width: 95%;
    }
    .hardskills p, .softskills p{
        font-size: 0.8em;
    }
    .svg svg{
        height: 80px;
    }
    #projetos{
        margin-top: 180px;   
    }
    .gridProjetos{
        gap: 180px;
        align-items: center;
    }
    .gridProjetos img{
        width: 350px;
    }
    .display-flex, .display-grid, .delivery{
        padding: 0;
    }
    .descricao{
        width: 300px;
        top: 230px;
    }
    #contato{
        margin-top: 160px;
    }
    #name, #email{
        width: 185px;
        font-size: 1em;
    }
    #mensagem{
        width: 400px;
        font-size: 1em;
    }
    .redescontato{
        margin-top: 200px;
        margin-bottom: 30px;
    }
}
#altdark {
    transition: background-color 0.3s, color 0.3s;
}
#altdark.light {
    background-color: rgb(87, 97, 96);
}
#altdark.dark {
    background-color: #312E2E;
}
#altdark02 {
    transition: background-color 0.3s, color 0.3s;
}
#altdark02.light {
    background-color: rgb(78, 88, 87);
}
#altdark02.dark {
    background-color: #2c2929;
}
#altdark03 {
    transition: background-color 0.3s, color 0.3s;
}
#altdark03.light {
    background-color: rgb(78, 88, 87);
}
#altdark03.dark {
    background-color: #2c2929;
}
body {
    transition: background-color 0.3s, color 0.3s;
}
body.light {
    background-color: rgb(87, 97, 96);
}
body.dark {
    background-color: #312E2E;
}